container_commands:
  01updatecomposer:
    command: "composer.phar self-update"
    leader_only: true
  02getcomposer:
    command: "cd /var/app/ondeck/html/ && composer.phar install --prefer-source"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: HOME
    value: /root