commands:

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: HOME
    value: /root

  - namespace: 'aws:elasticbeanstalk:container:php:phpini':
    option_name: document_root
    value: /public